* {
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
}

li {
    list-style: none
}

button,
input,
select,
textarea {
    outline: none;
    border: 1px solid #fff;
}

.g-text-c {
    text-align: center;
}

.g-text-r {
    text-align: right;
}

.g-text-l {
    text-align: left;
}

.g-f-r {
    float: right;
}

.g-f-l {
    float: left;
}